.navbar{
    position: absolute;
    display: flex;
    justify-content: flex-end;

    left: 0;
    top: 0;
    width: 100%;
}
.navbar div{
    background-color: var(--secondary);
    margin: 20px;
    border-radius: 1rem;
    cursor: pointer;
    padding: 1rem;
}